<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<nav class="navbar">
    <h2 class="logo">Portfolio</h2>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/skills">Skills</a></li>
        <li><a href="/projects">Projects</a></li>
        <li><a href="/contact" class="contact-btn">Contact</a></li>
    </ul>
</nav>


<section class="home">
    <div class="home-content">
        <h1>Hello, I'm <span class="red">Pranay Patel</span></h1>
        <h3>Full-Stack Web Developer</h3>

        <p>
            I am a passionate full-stack developer who enjoys building modern,
            responsive and user-friendly web applications. I love working with
            MERN stack, APIs, authentication, and database-driven systems.
        </p>

        <p>
            My goal is to create digital experiences that are fast, functional,
            visually appealing, and meaningful. I continuously improve my skills
            to deliver high-quality projects.
        </p>

        <a href="/projects" class="btn">View My Work</a>
    </div>
</section>

</body>
</html>
