<!DOCTYPE html>
<html lang="en">
<head>
    <title>Skills</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<nav class="navbar">
    <h2 class="logo">Portfolio</h2>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/skills">Skills</a></li>
        <li><a href="/projects">Projects</a></li>
        <li><a href="/contact" class="contact-btn">Contact</a></li>
    </ul>
</nav>


<section class="skills-section">
    <h1 class="section-title">My Skills</h1>

    <div class="skills-container">

        <div class="skill-card">
            <h3>Frontend</h3>
            <p>HTML, CSS, JavaScript, Responsive UI, EJS</p>
        </div>

        <div class="skill-card">
            <h3>Backend</h3>
            <p>Node.js, Express.js, MongoDB, REST APIs</p>
        </div>

        <div class="skill-card">
            <h3>Tools & Others</h3>
            <p>Git, GitHub, VS Code, Postman, JSON, Authentication</p>
        </div>

    </div>
</section>

</body>
</html>
